body{
  margin: 0;
  padding: 0;
  background-color: beige;
}
.nav{
  background-color: aqua;
  width: 100%;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  
}
.logo{
  color: bisque;
}